// @Author: sarahnouh
// @Date:   2019-08-14T04:21:42+02:00
// @Last modified by:   sarahnouh
// @Last modified time: 2019-08-14T17:10:11+02:00
.contact-us {
  background-color: $mint_green;
  text-align: center;
  color: white;
  padding: 60px 0;
  @media (min-width: $xl_screen) {
    font-size: 35px;
  }
  .title {
    margin-top: 0;
  }
  .btn.square {
    border-radius: 5px;
    border: 2px solid white;
    font-size: 0.7em;
    padding: 0.7em 1.7em;
    font-weight: 500;
  }
}
