// @Author: sarahnouh
// @Date:   2019-08-11T01:18:09+02:00
// @Last modified by:   sarahnouh
// @Last modified time: 2019-08-12T03:05:23+02:00
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

//colour variables
$light_gray: #777777;
$mint_green: #7cc576;

//Responsive screen sizes variables
$md_screen: "1024px";
$sm_screen: "768px";

@import "./carousel.scss";
@import "./header.scss";
@import "./overview.scss";

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.btn {
  padding: 12px 15px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  color: white;
  background-color: $mint_green;
}
